<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 ">
 
 
 
<!--  <context:annotation-config /> -->
<!--  enables all the annotations in config.xml -->
 
<!--  enables only @PostConstruct,@PreDestroy  -->
 <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
 
<bean class="com.spring.core.lifecycle.Samosa" name="s1"
 init-method="hey" destroy-method="destroy">
<property name="price" value="10"/>
</bean>


<bean class="com.spring.core.lifecycle.CocaCola" name="c1" p:price="15"/>
<bean class="com.spring.core.lifecycle.BreadPakoda" name="b1" p:price="20"/>


</beans>